<a href="https://colab.research.google.com/github/naipunya-naik/PYTHON-WORKSHOP/blob/master/Day_2_session_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
n=int(input("Enter no of students"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)

Enter no of students3
Enter name 1naipu
Enter mark 140
{'naipu': 40}
Enter name 2priya
Enter mark 245
{'naipu': 40, 'priya': 45}
Enter name 3riya
Enter mark 363
{'naipu': 40, 'priya': 45, 'riya': 63}
[('naipu', 40), ('priya', 45), ('riya', 63)]

#2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
n=int(input("Enter no of employees"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    salary=int(input("Enter salary %d"%(i)))
    d[name]=salary
    print (d)
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)

Enter no of employees3
Enter name 1payal rohatgi
Enter salary 13000000
{'payal rohatgi': 3000000}
Enter name 2kangana ranaut
Enter salary 297000000
{'payal rohatgi': 3000000, 'kangana ranaut': 97000000}
Enter name 3sushant sr
Enter salary 37800000
{'payal rohatgi': 3000000, 'kangana ranaut': 97000000, 'sushant sr': 7800000}
[('payal rohatgi', 3000000), ('sushant sr', 7800000), ('kangana ranaut', 97000000)]

#3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [4]:
def inp():
  name = input('Enter Name : ')
  salary = int(input('Enter Salary : '))
  
  return (name,salary)

d = {}
n = int(input('Enter No of Employees : '))
for x in range(n):
  n,s = inp()
  d[n] = s

keys = sorted(d.keys())

print('Ascending Order : ')

for key in keys:
  print(f'{key} : {d[key]}')


print(f'Sum of all Salaries : {sum(list(d.values()))}')
print(f'Max Salary : {max(list(d.values()))} \t\t Min Salary : {min(list(d.values()))}')
print(f'Average Salary: {sum(list(d.values()))/len(list(d.keys()))}')

Enter No of Employees : 3
Enter Name : piya
Enter Salary : 3000000
Enter Name : jiya
Enter Salary : 2222000
Enter Name : riya
Enter Salary : 230000
Ascending Order :
jiya : 2222000
piya : 3000000
riya : 230000
Sum of all Salaries : 5452000
Max Salary : 3000000 		 Min Salary : 230000
Average Salary: 1817333.3333333333


#Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [10]:
def inp():
  name = input('Enter Name : ')
  salary = int(input('Enter Salary : '))
  if 2000 < salary < 4000: 
    return (name,salary)
  return None

d = {}
n = int(input('Enter No of Employees : '))
for x in range(n):
  k = inp()
  if k != None:
    d[k[0]] = k[1]
  
print(d)

Enter No of Employees : 3
Enter Name : rashi
Enter Salary : 2300
Enter Name : jigar
Enter Salary : 4500
Enter Name : ahem
Enter Salary : 2200
{'rashi': 2300, 'ahem': 2200}

#Python program to convert a 3 digit number into words

In [13]:

d = {1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine'}
d2 = {1:'Ten',2:'Twenty',3:'Thirty',4:'Forty',5:'Fifty',6:'Sixty',7:'Seventy',8:'Eighty',9:'Ninty'}
d3 = {2:'Tens',3:'Hundred',4:'Thousands'} 

i = int(input('Enter The Number : '))
a = len(str(i))
j = int(str(i)[0])
if j !=0 :
  s = d[j]
s = s + ' ' + d3[a]
i = int(str(i)[1:])
print(s,i)


j = int(str(i)[0])
if j !=0:
  #s = s + ' ' + d2[j]
  if len(str(i))>1:
    i = int(str(i)[1:])
  else:
    i = int(str(i)[0:])
print(s,i)



if i!=0:
  s = s + ' ' + d[i]
print(s)

Enter The Number : 300
Three Hundred 0
Three Hundred 0
Three Hundred

#1.Python Program to count the total number of characters (except blank space) in a text file.

In [16]:
path = '/content/sample_data/newfile.txt'
with open(path,'r')as file:
  totchar = 0
  reader = file.read()
  for line in reader:
    if line != ' ':
      totchar += 1
  print(f'Total no of characters : {totchar}')

Total no of characters : 11

#2.Python Program to print all the numbers present in a text file with its total number of occurrence.

In [18]:
path = '/content/sample_data/newfile2.txt'
with open(path,'r')as file:
  totchar = 0
  reader = file.readlines()
  numbers = []
  for line in reader:
    for word in line:
      if word.isnumeric():
        numbers.append(int(word))

  print(f'All numbers : {numbers}')
  collection = {}
  for number in numbers:
    if number not in collection.keys():
      collection[number] = 1
    else:
      collection[number] += 1
  print(f'Total Occurrence : {collection}')

All numbers : [2, 1, 1, 2, 0, 0, 0]
Total Occurrence : {2: 2, 1: 2, 0: 3}

#3.Python Program to append the contents of one file to another file

In [22]:
path = '/content/sample_data/newfile.txt' # for Reading Only!
path2 = '/content/sample_data/newfile2.txt' # for Writing Only!
with open(path,'r')as file:
  reader = file.readlines()
  with open(path2,'w') as file2: # writing to file2
    for line in reader:
      file2.write(line) 

with open(path2,'r') as file2:   #Reopening file2 to check 
  reader = file2.readlines()
  for i in range(10):
    print(reader[i])

i am naipunya

IndexError: ignored

#4.Python Program to count the number of blank spaces in a text file.

In [23]:
path = '/content/sample_data/newfile2.txt'
with open(path,'r')as file:
  totspace = 0
  reader = file.read()
  for line in reader:
    if line == ' ':
      totspace += 1
  print(f'Total no of Spaces : {totspace}')

Total no of Spaces : 3

#5.Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [24]:
path = '/content/sample_data/newfile2.txt' # for Reading Only!
path2 = '/content/sample_data/newfile2.txt' # for Writing Only!
with open(path,'r')as file:
  reader = file.readlines()
  with open(path2,'w') as file2: 
    for line in reader:
      modline = ''
      wordlist = []
      
      wordlist.append(line.title())
      modline = modline.join(wordlist)
      
      file2.write(modline)       # writing to file2

with open(path2,'r') as file2:   #Reopening file2 to check 
  reader = file2.readlines()
  for i in range(10):
    print(reader[i])

I Am Naipunya 2112000

IndexError: ignored