<a href="https://colab.research.google.com/github/naipunya-naik/PYTHON-WORKSHOP/blob/master/Day_3_Session_2_WorkedOut_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Finding the factorial of a number

In [2]:
#Python Program to find the factorial of a number using loop.
n=int(input("Enter number:"))
fact=1
while(n>0):
          fact=fact*n
          n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:4
Factorial of the number is:
24

#Program for multiples of 2 of a list without list comprehension

In [3]:
x=[1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
                        result.append(x[idx] * 2)
print(result)

[2, 4, 6, 8, 10, 12]

#More Pythonic program of 3 lines!

In [4]:
from functools import reduce
sequences = [x for x in range(1,int(input('Enter no'))+1)]
product = reduce(lambda x, y: x*y, sequences)
print(product)

Enter no3
6

#Number and its square as Tuple for a range

In [5]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:10
[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

#More Pythonic program of 2 lines!

In [6]:
print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
int(input("Enter the upper range:"))+1)])

Enter the lower range:2
Enter the upper range:10
[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

#Finding the perfect squares

In [9]:
from math import *
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
result=[]
for i in sequences:
                  if int(sqrt(i))**2==i:
                      result.append(i)
print(result)

[4, 0, 9, 16, 1]

#Pythonic program of 3 lines!

In [10]:
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
filtered_result = filter(lambda x: int(sqrt(x))**2==x, sequences)
print(list(filtered_result))

[4, 0, 9, 16, 1]

#Program to find large number in a list

In [12]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
                      b=int(input("Enter element:"))
                      a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:10
Enter element:3
Enter element:4
Enter element:2
Enter element:8
Enter element:4
Enter element:35
Enter element:87
Enter element:77
Enter element:98
Enter element:55
Largest element is: 98

#Try this More pythonic 2 lines program equivalent to above codings as shown below !

In [13]:
x=0
print('The greatest no is',max([int(input(x)) for _ in range(int(input("Enter no")))]))

Enter no12
34
67
34
22
22
123
55
46
32
52
87
99
The greatest no is 123

#Program to put the even and odd elements in a list into two different lists.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

#Instead of forementioned 14 lines program, the equivalent 4 lines !

In [15]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter n")))]
print('odd list is',[ i for i in l if i%2])
print('even list is',[i for i in l if not i%2])

Enter n2
34
43
odd list is [43]
even list is [34]

#Python Program to merge two lists and sort it.

In [19]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
                      b=int(input("Enter element:"))
                      a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
                      d=int(input("Enter element:"))
                      c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:2
Enter element:334
Enter element:223
Enter number of elements:3
Enter element:123
Enter element:242
Enter element:222
Sorted list is: [123, 222, 223, 242, 334]

#Instead of forementioned 13 lines program, the equivalent 5 lines !

In [20]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
m=[int(input(x)) for _ in range(int(input("Enter how many elements ")))]
new=l+m
new.sort()
print("Sorted list is:",new)

Enter how many elements2
234
245
Enter how many elements 2
134
244
Sorted list is: [134, 234, 244, 245]

#Program for printing list of values with indexing

In [22]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
index=0
for i in names:
              print(str(index)+":"+i)
index=index+1

0:Jan
0:Feb
0:Mar
0:Apr
0:May
0:Jun
0:Jul
0:Aug
0:Sep
0:Oct
0:Nov
0:Dec

#using Pythonic way using enumerate()!

In [24]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
for index, value in enumerate(names):
                                    print(f'{index+1}: {value}')

1: Jan
2: Feb
3: Mar
4: Apr
5: May
6: Jun
7: Jul
8: Aug
9: Sep
10: Oct
11: Nov
12: Dec