<a href="https://colab.research.google.com/github/naipunya-naik/PYTHON-WORKSHOP/blob/master/Day_2_session_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [1]:
n=int(input("Enter no of students"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)

Enter no of students3
Enter name 1naipu
Enter mark 140
{'naipu': 40}
Enter name 2priya
Enter mark 245
{'naipu': 40, 'priya': 45}
Enter name 3riya
Enter mark 363
{'naipu': 40, 'priya': 45, 'riya': 63}
[('naipu', 40), ('priya', 45), ('riya', 63)]

#2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [4]:
n=int(input("Enter no of employees"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    salary=int(input("Enter salary %d"%(i)))
    d[name]=salary
    print (d)
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)

Enter no of employees3
Enter name 1payal rohatgi
Enter salary 13000000
{'payal rohatgi': 3000000}
Enter name 2kangana ranaut
Enter salary 297000000
{'payal rohatgi': 3000000, 'kangana ranaut': 97000000}
Enter name 3sushant sr
Enter salary 37800000
{'payal rohatgi': 3000000, 'kangana ranaut': 97000000, 'sushant sr': 7800000}
[('payal rohatgi', 3000000), ('sushant sr', 7800000), ('kangana ranaut', 97000000)]

#3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [8]:
n=int(input("Enter no of employees"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    salary=int(input("Enter salary %d"%(i)))
    d[name]=salary
    print (d)
    print("Total sum of salaries in the dictionary:")
    print(sum(d.values()))
    print("max salaries  in the dictionary:")
    i=max(d)
    print(max(d.values()))
    print("min salaries in the dictionary:")
    i=min(d)
    print(min(d.values()))
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)

Enter no of employees2
Enter name 1rashi
Enter salary 1990000
{'rashi': 990000}
Total sum of salaries in the dictionary:
990000
max salaries  in the dictionary:
990000
min salaries in the dictionary:
990000
Enter name 2jigar
Enter salary 267888
{'rashi': 990000, 'jigar': 67888}
Total sum of salaries in the dictionary:
1057888
max salaries  in the dictionary:
990000
min salaries in the dictionary:
67888
[('jigar', 67888), ('rashi', 990000)]